{% extends "base.html" %}
{% load static %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/de.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
        $(document).ready(function () {
            getDates();
            $('#calendar').hide();


            $('#room-select').change(function () {
                var room = $(this).val();
                $('#calendar').show();


                if (room == "") {
                  $('#calendar').hide();


                  return;
                }

                for (i = 1; i < 7; i++) {
                        var x = document.getElementById("t" + i).getElementsByTagName("tr");
                        for (z = 0; z < 7; z++){
                          x[z].style.backgroundColor = "white";
                        }


                }
                $.ajax({
                    url:"{% url 'getReservations' %}",
                    data:{
                        'room': room,
                    },
                    dataType:   'json',
                    success: function (data) {


                        $('#t1').show();
                        $('#table_label').show();

                        var MyTable = document.getElementById('t1');
                        var rows = MyTable.getElementsByTagName('tr');

                        let datum = new Date;

                        let heute = moment();
                        let heuteString = heute.format('YYYY-MM-DD');

                        for (let k = 1; k <= 7; k++) {
                            var id = "day" + k;

                            let curr = moment();
                            let days = curr.day();
                            let first = curr.add(-days, 'day');
                            var day = moment(first).add(k, 'day').format('YYYY-MM-DD');
                            var reservations =  data.models_to_return.filter(e => e.start_time.includes(day));
                            console.log("RESERVIERUNGEN am " + day + " fuer Raum " + room + ": " + reservations.length);
                            {#reservations.forEach(createTable);#}
                            for (let value of Object.values(reservations)) {
                                  createTable(value)
                            }
                        }
                    }
                });
            });


            {# Diese Funktion erstellt die Tabelle zur Block Anzeige #}
            function createTable(value) {

                let resultDate = value["start_time"];
                let resultBlock = value["block"];
                var dayNr = moment(resultDate).day();
                var rowID = "t" + dayNr + resultBlock;
                var x = document.getElementById(rowID);
                x.style.backgroundColor = "red";

            }

            {# Diese Funktion generiert die jeweiligen Daten für die aktuelle Woche #}
            function getDates() {

                for (let k = 1; k <= 7; k++) {
                    var id = "day" + k;
                    var dayText = document.getElementById(id);
                    let curr = moment();
                    let days = curr.day();
                    let first = curr.add(-days, 'day');
                        var day = moment(first).add(k, 'day').format('DD.MM.YYYY');
                        dayText.textContent=day;
                    }
            }

        });

</script>


   <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">

    <title>Title</title>

    <select id= "room-select" name="room" class="form-control">
                    <option value="">Select</option>

                    {% for element in room_data %}

                        <option value={{ element.size }}>{{ element.size }}</option>
                    {% endfor %}
                    </select>

<div class="calendar-container">

<div class="calendar" id="calendar">
    <span class="day-name" id="day1">Mon</span>
    <span class="day-name" id="day2">Tue</span>
    <span class="day-name" id="day3">Wed</span>
    <span class="day-name" id="day4">Thu</span>
    <span class="day-name" id="day5">Fri</span>
    <span class="day-name" id="day6">Sat</span>
    <span class="day-name" id="day7">Sun</span>
<div class="day">
    <table id="t1" class="center" >
        <tr id="t11" style="background-color: white"><td><a class="btn btn-block btn-outline-success" href="{% url 'index' %}">Block 1</a></td></tr>
        <tr id="t12"><td><button class="btn btn-block btn-outline-success"type="submit" id="block2" name="save_block2" value="Save&Home">Block 2</button></td></tr>
        <tr id="t13"><td><button class="btn btn-block btn-outline-success"type="submit" id="block3" name="save_block3" value="Save&Home">Block 3</button></td></tr>
        <tr id="t14"><td><button class="btn btn-block btn-outline-success"type="submit" id="block4" name="save_block4" value="Save&Home">Block 4</button></td></tr>
        <tr id="t15"><td><button class="btn btn-block btn-outline-success"type="submit" id="block5" name="save_block5" value="Save&Home">Block 5</button></td></tr>
        <tr id="t16"><td><button class="btn btn-block btn-outline-success"type="submit" id="block6" name="save_block6" value="Save&Home">Block 6</button></td></tr>
        <tr id="t17"><td><button class="btn btn-block btn-outline-success"type="submit" id="block7" name="save_block7" value="Save&Home">Block 7</button></td></tr>
        </table>
</div>
<div class="day"><table id="t2" class="center" >
        <tr id="t21"><td> <a class="btn btn-block btn-outline-success" href="{% url 'index' %}">Block 1</a></td></tr>
        <tr id="t22"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block2" name="save_block2" value="Save&Home">Block 2</button></td></tr>
        <tr id="t23"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block3" name="save_block3" value="Save&Home">Block 3</button></td></tr>
        <tr id="t24"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block4" name="save_block4" value="Save&Home">Block 4</button></td></tr>
        <tr id="t25"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block5" name="save_block5" value="Save&Home">Block 5</button></td></tr>
        <tr id="t26"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block6" name="save_block6" value="Save&Home">Block 6</button></td></tr>
        <tr id="t27"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block7" name="save_block7" value="Save&Home">Block 7</button></td></tr>
        </table></div>
<div class="day"><table id="t3" class="center" >
        <tr id="t31"><td> <a class="btn btn-block btn-outline-success" href="{% url 'index' %}">Block 1</a></td></tr>
        <tr id="t32"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block2" name="save_block2" value="Save&Home">Block 2</button></td></tr>
        <tr id="t33"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block3" name="save_block3" value="Save&Home">Block 3</button></td></tr>
        <tr id="t34"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block4" name="save_block4" value="Save&Home">Block 4</button></td></tr>
        <tr id="t35"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block5" name="save_block5" value="Save&Home">Block 5</button></td></tr>
        <tr id="t36"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block6" name="save_block6" value="Save&Home">Block 6</button></td></tr>
        <tr id="t37"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block7" name="save_block7" value="Save&Home">Block 7</button></td></tr>
        </table></div>
<div class="day"><table id="t4" class="center" >
        <tr id="t41"><td> <a class="btn btn-block btn-outline-success" href="{% url 'index' %}">Block 1</a></td></tr>
        <tr id="t42"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block2" name="save_block2" value="Save&Home">Block 2</button></td></tr>
        <tr id="t43"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block3" name="save_block3" value="Save&Home">Block 3</button></td></tr>
        <tr id="t44"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block4" name="save_block4" value="Save&Home">Block 4</button></td></tr>
        <tr id="t45"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block5" name="save_block5" value="Save&Home">Block 5</button></td></tr>
        <tr id="t46"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block6" name="save_block6" value="Save&Home">Block 6</button></td></tr>
        <tr id="t47"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block7" name="save_block7" value="Save&Home">Block 7</button></td></tr>
        </table></div>
<div class="day"><table id="t5" class="center" >
        <tr id="t51"><td> <a class="btn btn-block btn-outline-success" href="{% url 'index' %}">Block 1</a></td></tr>
        <tr id="t52"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block2" name="save_block2" value="Save&Home">Block 2</button></td></tr>
        <tr id="t53"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block3" name="save_block3" value="Save&Home">Block 3</button></td></tr>
        <tr id="t54"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block4" name="save_block4" value="Save&Home">Block 4</button></td></tr>
        <tr id="t55"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block5" name="save_block5" value="Save&Home">Block 5</button></td></tr>
        <tr id="t56"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block6" name="save_block6" value="Save&Home">Block 6</button></td></tr>
        <tr id="t57"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block7" name="save_block7" value="Save&Home">Block 7</button></td></tr>
        </table></div>
<div class="day"><table id="t6" class="center" >
        <tr id="t61" style="background-color: white"><td> <a class="btn btn-block btn-outline-success" href="{% url 'index' %}">Block 1</a></td></tr>
        <tr id="t62" style="background-color: white"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block2" name="save_block2" value="Save&Home">Block 2</button></td></tr>
        <tr id="t63" style="background-color: white"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block3" name="save_block3" value="Save&Home">Block 3</button></td></tr>
        <tr id="t64" style="background-color: white"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block4" name="save_block4" value="Save&Home">Block 4</button></td></tr>
        <tr id="t65" style="background-color: white"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block5" name="save_block5" value="Save&Home">Block 5</button></td></tr>
        <tr id="t66" style="background-color: white"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block6" name="save_block6" value="Save&Home">Block 6</button></td></tr>
        <tr id="t67" style="background-color: white"><td> <button class="btn btn-block btn-outline-success"type="submit" id="block7" name="save_block7" value="Save&Home">Block 7</button></td></tr>
        </table></div>
<div class="day--disabled">7</div>
{#<section class="task task--warning">Projects</section>#}
{#<section class="task task--danger">Design Sprint</section>#}
{#<section class="task task--primary">Product Checkup 1#}
{#<div class="task__detail">#}
{#<h2>Product Checkup 1</h2>#}
{#<p>15-17th November</p>#}
{#</div>#}
{#</section>#}
{#<section class="task task--info">Product Checkup 2</section>#}
</div>
</div>

{% endblock %}