{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Kontaktformular' %}</h1>
<form method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="formGroupExampleInput">{% trans 'Betreff' %}</label>
    <input type="text"  name="subject" class="form-control" id="formGroupExampleInput" placeholder="{% trans 'Hier bitte den Betreff eingeben' %}">

    <label for="exampleFormControlTextarea1">{% trans 'Ihre Nachricht' %}</label>
    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3" placeholder="{% trans 'Beschreiben Sie hier bitte Ihr Problem' %}"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">{% trans 'Senden' %}</button>
</form>
{% endblock %}