
{% extends "home.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_jquery %}
{% block test %}
    

    

    <container>

    <a class="btn btn-primary" href="{% url 'learning_spaces_reservation_list' %}">
    Reservierungsübersicht
    </a>


        <form method="POST", class="reservationForm">
        {% csrf_token %}
            <div class="form-group row">
                {{ form.errors }}

                <div class="fieldWrapper">
                <label for="{{ form.start_time.id_for_label }}">Für welches Datum möchten Sie einen Space reservieren?:</label>

                {{ form.start_time }}
                </div>
                    <div class="fieldWrapper">
                        <label for="{{ form.room.id_for_label }}">Welchen Space möchten Sie reservieren?:</label>

                        <select name="room">
                        {% for element in some_data %}
                            <option value={{ element.size }}>{{ element.size }}</option>
                        {% endfor %}
                        </select>


                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary">

        </form>
</container>
{% endblock %}