
{% extends "home.html" %}
{% load static %}
{% load bootstrap4 %}
{% block test %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#t1').hide();
        $('#id_room').hide();
        $('#room-select').hide();
        $('#table_label').hide();

        $('#id_start_time').change(function () {
            var room = $('#room-select').val();
            var date = $('#id_start_time').val();
            var x = document.getElementById("t1").getElementsByTagName("td");
            for (i = 0; i < 7; i++) {
                            x[i].style.backgroundColor = "green";
                            var id = "block" + (i+1);
                            document.getElementById(id).disabled = false;
            }

            $('#id_room').show()
            $('#room-select').show();

            $.ajax({
            url:"{% url 'checkReservations' %}",
            data:{
                'room': room,
                'date' : date
            },
            dataType:   'json',
            success: function (data) {

                var MyTable = document.getElementById('t1');
                var rows = MyTable.getElementsByTagName('tr');

                for (var key in data) {
                    for (var key in data) {
                    let result = data[key].map(a => a.block);
                    result.forEach(createTable);
                    }
                }
            }
          });
        });

        $('#room-select').change(function () {
          var room = $(this).val();
          var date = $('#id_start_time').val();
          var x = document.getElementById("t1").getElementsByTagName("td");
          for (i = 0; i < 7; i++) {
                            x[i].style.backgroundColor = "green";
                            var id = "block" + (i+1);
                            document.getElementById(id).disabled = false;
          }

          $.ajax({
            url:"{% url 'checkReservations' %}",
            data:{
                'room': room,
                'date' : date
            },
            dataType:   'json',
            success: function (data) {

                $('#t1').show();
                $('#table_label').show();

                var MyTable = document.getElementById('t1');
                var rows = MyTable.getElementsByTagName('tr');

                for (var key in data) {
                    let result = data[key].map(a => a.block);
                    result.forEach(createTable);
                }
            }
          });
        });

        function createTable(value, index, array) {

                        var x = document.getElementById("t1").getElementsByTagName("td");
                        for (i = 0; i < array.length; i++) {
                            x[value - 1].style.backgroundColor = "red";
                            var id = "block" + value;
                            document.getElementById(id).disabled = true;

                        }
        }


    })
</script>
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">

    <container>

    <h1><a class="btn btn-primary" href="{% url 'learning_spaces_reservation_list' %}"> Reservierungsübersicht </a></h1>


        <form method="POST", class="reservationForm" id="reservationForm">
        {% csrf_token %}

                {{ form.errors }}

            <p>
            <label for="{{ form.start_time.id_for_label }}">Für welches Datum möchten Sie einen Space reservieren?:</label>

            {{ form.start_time }}
            </p>

            <p>
                <label id="id_room" for="{{ form.room.id_for_label }}">Welchen Space möchten Sie reservieren?:</label>
                <select id= "room-select" name="room">
                {% for element in some_data %}
                    <option value={{ element.size }}>{{ element.size }}</option>
                {% endfor %}
                </select>
            </p>

        <div class="fieldWrapper">
            <label id="table_label"> Wählen Sie nun bitte den gewünschten Block aus:</label>
            <table id="t1" class="table" >
            <tr>
                <td style="background-color: green; text-align: center"> <button type="submit" id="block1" name="save_block1" value="Save&Home">Block 1</button></td>
                <td style="background-color: green; text-align: center"> <button type="submit" id="block2" name="save_block2" value="Save&Home">Block 2</button></td>
                <td style="background-color: green; text-align: center"> <button type="submit" id="block3" name="save_block3" value="Save&Home">Block 3</button></td>
                <td style="background-color: green; text-align: center"> <button type="submit" id="block4" name="save_block4" value="Save&Home">Block 4</button></td>
                <td style="background-color: green; text-align: center"> <button type="submit" id="block5" name="save_block5" value="Save&Home">Block 5</button></td>
                <td style="background-color: green; text-align: center"> <button type="submit" id="block6" name="save_block6" value="Save&Home">Block 6</button></td>
                <td style="background-color: green; text-align: center"> <button type="submit" id="block7" name="save_block7" value="Save&Home">Block 7</button></td>
            </tr>
        </table>
        </div>

        </form>
</container>
{% endblock %}