
{% extends "home.html" %}
{% load static %}
{% load bootstrap4 %}
{% block test %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/de.js"></script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />



{# Initialisierung des Datepickers #}
<script type="text/javascript">
        $(function () {
            $('#datepicker12').datetimepicker({
                format: 'L',
                daysOfWeekDisabled: [0],
                minDate: moment(),
                maxDate: moment().add(7, 'days'),


            });
        });
</script>

{# JavaScript Function zur Steuerung der Anzeige der einzelnen Felder, ohne Datum wird kein Raum angezeigt usw. #}
<script type="text/javascript">

    $(document).ready(function () {
        $('#t1').hide();
        $('#table_label').hide();
        $('#id_room').hide();
        $('#room-select').hide();

        $('#datepicker12').on('change.datetimepicker', function (e) {
            var room = $('#room-select').val();
            var date = $('#dateValue').val();

            date = date.split('.').reverse().join('-');
            console.log(date);
            var x = document.getElementById("t1").getElementsByTagName("td");
            for (i = 0; i < 7; i++) {
                            x[i].style.backgroundColor = "green";
                            var id = "block" + (i+1);
                            var btn = document.getElementById(id)
                            btn.disabled = false;
                            if (btn) {
                                btn.value = "frei"
                            }

            }

            $('#id_room').show();
            $('#room-select').show();


            $.ajax({
            url:"{% url 'checkReservations' %}",
            data:{
                'room': room,
                'date' : date
            },
            dataType:   'json',
            success: function (data) {

                var MyTable = document.getElementById('t1');
                var rows = MyTable.getElementsByTagName('tr');

                for (var key in data) {
                    for (var key in data) {
                    let result = data[key].map(a => a.block);
                    result.forEach(createTable);
                    }
                }
            }
          });
        });


        $('#room-select').change(function () {
          var room = $(this).val();
          var date = $('#dateValue').val();
          date = moment(date, 'DD.MM.YYYY', true).format('L');
            date = date.split('.').reverse().join('-')
            console.log(date)

          if (room == "") {
              $('#t1').hide();
              $('#table_label').hide();

              return;
          }
          var x = document.getElementById("t1").getElementsByTagName("td");
          for (i = 0; i < 7; i++) {
                            x[i].style.backgroundColor = "green";
                            var id = "block" + (i+1);
                            var btn = document.getElementById(id);
                            btn.disabled = false;
                            if (btn) {
                                btn.value = "frei"
                            }

          }

          $.ajax({
            url:"{% url 'checkReservations' %}",
            data:{
                'room': room,
                'date' : date
            },
            dataType:   'json',
            success: function (data) {

                console.log(data)
                $('#t1').show();
                $('#table_label').show();



                var MyTable = document.getElementById('t1');
                var rows = MyTable.getElementsByTagName('tr');

                for (var key in data) {
                    let result = data[key].map(a => a.block);
                    result.forEach(createTable);
                }
            }
          });
        });

        {# Diese Funktion erstellt die Tabelle zur Block Anzeige #}
        function createTable(value, index, array) {
            console.log(array)

                var x = document.getElementById("t1").getElementsByTagName("td");
                for (i = 0; i < array.length; i++) {
                    x[value - 1].style.backgroundColor = "red";
                    var id = "block" + value;
                    document.getElementById(id).value = "belegt";
                    {#document.getElementById(id).disabled = true;#}

                }
        }
    })
</script>



    <link rel="stylesheet" href="{% static 'css/tables.css' %}">

    <container>
    <a hidden id="user"> {{user.is_student}}</a>
    <script>
         $(document).ready(function () {
             // Get the modal
             var modalReservedInquiry = document.getElementById("modalReservedInquiry");
             var modalReservedOverbooking = document.getElementById("modalReservedOverbooking");
             var modalFree = document.getElementById("modalFree");
             // Get the <span> element that closes the modal
             var span = document.getElementById("close");




            });

             // When the user clicks on the button, open the modal
             function buttonFunction(elem) {
                 if (elem.value === "belegt") {
                     var isUserStudent = document.getElementById("user").innerHTML.toLowerCase().trim()
                     var room = $('#room-select').val();
                     var date = $('#dateValue').val();
                     console.log(isUserStudent)
                     if (isUserStudent == "true") {
                         console.log("is student")
                         modalReservedInquiry.style.display = "block";
                     } else {
                         console.log("isn't student")
                         modalReservedOverbooking.style.display = "block";
                     }



                 } else if (elem.value === "frei") {
                     var room = $('#room-select').val();
                     var date = $('#dateValue').val();

                     document.getElementById("dateLabel").innerHTML = "Datum: " + date;
                     document.getElementById("roomLabel").innerHTML = "Space: " + room;
                     document.getElementById("blockLabel").innerHTML = elem.innerText;
                     document.getElementById("checkButton").name = elem.name;
                     console.log(modalFree);
                     modalFree.style.display = "block";
                 }
             }

             // When the user clicks on <span> (x), close the modal
             function closeFunction() {
                 modalReservedInquiry.style.display = "none";
                 modalReservedOverbooking.style.display = "none";
                 modalFree.style.display = "none";
             }

             // When the user clicks anywhere outside of the modal, close it
             window.onclick = function (event) {
                 if (event.target == modalReservedInquiry) {
                     modalReservedInquiry.style.display = "none";
                 } else if (event.target == modalFree) {
                     modalFree.style.display = "none";
                 } else if (event.target == modalReservedOverbooking) {
                     modalReservedOverbooking.style.display = "none";
                 }
             }

     </script>







    <h1><a class="btn btn-outline-primary" href="{% url 'learning_spaces_reservation_list' %}"> Reservierungsübersicht </a></h1>


        <form method="POST", class="reservationForm" id="reservationForm">
        {% csrf_token %}
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">
            <!-- The Modal -->
            <div id="modalFree" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close" onclick="closeFunction()">&times;</span>

                    <label> Möchten Sie den Space mit den unten aufgeführten Daten reservieren?</label>
                    <label id="dateLabel"></label>
                    <label id="roomLabel"></label>
                    <label id="blockLabel"></label>
                    <button class="btn btn-sm btn-outline-secondary" id="checkButton" name="block{{ th }}">Bestätigen</button>

              </div>
            </div>

            <div id="modalReservedOverbooking" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close" onclick="closeFunction()">&times;</span>

                    <label>Leider ist der von Ihnen gewünschte Raum zu diesem Zeitraum schon belegt. Als Dozent bzw. Mitarbeiter der HTW haben Sie jedoch das Recht, eine Reservierung zu überbuchen. Möchten Sie dies tun?</label>
                    <label id="dateLabel"></label>
                    <label id="roomLabel"></label>
                    <label id="blockLabel"></label>
                    <button class="btn btn-sm btn-outline-secondary">Überbuchen</button>

              </div>
            </div>

            <div id="modalReservedInquiry" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span id="close" class="close" onclick="closeFunction()">&times;</span>

                    <label>Leider ist der von Ihnen gewünschte Raum zu diesem Zeitraum schon belegt. Sie haben jedoch die Möglichkeit, eine Anfrage an den Beleger zu senden, mit der Bitte Ihnen den Space zu überlassen. Der Nutzer hat danach 24 Stunden Zeit zu antworten. Tut er dies nicht, wird Ihre Anfrage abgelehnt. Möchten Sie dies tun?</label>
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Anfragen</button>

              </div>
            </div>

                {{ form.errors }}

            <p>
            <div class="row">
                <div class="col-sm-6">
                    <label for="{{ form.start_time.id_for_label }}">Für welches Datum möchten Sie einen Space reservieren?:</label>
                </div>
                <div class="col-sm-auto">
                    <div class="form-group">
                        <div class="input-group date" id="datepicker12" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datepicker12" id="dateValue" name="start_time"/>
                            <div class="input-group-append" data-target="#datepicker12" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </p>

            <p>

            <div class="row">
                <div class="col-sm-6">
                    <label id="id_room" for="{{ form.room.id_for_label }}">Welchen Space möchten Sie reservieren?:</label>
                </div>
                <div class="col-sm-auto">
                    <select id= "room-select" name="room" class="form-control">
                    <option value="">Select</option>

                    {% for element in some_data %}

                        <option value={{ element.size }}>{{ element.size }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            </p>

        <div class="fieldWrapper">
            <label id="table_label"> Wählen Sie nun bitte den gewünschten Block aus:</label>
            <table id="t1" class="table" >
            <tr>
                <td style="background-color: green; text-align: center"> <button type="button" class="btn btn-block btn-outline-success" id="block1" onclick="buttonFunction(this)" name="save_block1" value="Save&Home">Block 1</button></td>
                <td style="background-color: green; text-align: center"> <button type="button" class="btn btn-block btn-outline-success" id="block2" onclick="buttonFunction(this)" name="save_block2" value="Save&Home">Block 2</button></td>
                <td style="background-color: green; text-align: center"> <button type="button" class="btn btn-block btn-outline-success" id="block3" onclick="buttonFunction(this)" name="save_block3" value="Save&Home">Block 3</button></td>
                <td style="background-color: green; text-align: center"> <button type="button" class="btn btn-block btn-outline-success" id="block4" onclick="buttonFunction(this)" name="save_block4" value="Save&Home">Block 4</button></td>
                <td style="background-color: green; text-align: center"> <button type="button" class="btn btn-block btn-outline-success" id="block5" onclick="buttonFunction(this)" name="save_block5" value="Save&Home">Block 5</button></td>
                <td style="background-color: green; text-align: center"> <button type="button" class="btn btn-block btn-outline-success" id="block6" onclick="buttonFunction(this)" name="save_block6" value="Save&Home">Block 6</button></td>
                <td style="background-color: green; text-align: center"> <button type="button" class="btn btn-block btn-outline-success" id="block7" onclick="buttonFunction(this)" name="save_block7" value="Save&Home">Block 7</button></td>
            </tr>
        </table>
        </div>

        </form>

    <p> Legende:
    Roter Block: Block belegt
    Grüner Block: Block frei
    </p>
</container>
{% endblock %}