
{% extends "home.html" %}
{% load static %}
{% block test %}
    
<p>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'learning_spaces_reservation_list' %}">
    Zurück zur Reservierungsansicht
    </a>
</p>
    
<table class="table">
    <tr><td>Datum</td><td>{{ object.start_time }}</td></tr>
    <tr><td>Block</td><td>Block {{ object.block }}</td></tr>
    <tr><td>Raum</td><td>{{ object.room }}</td></tr>
{% if user.is_admin %}
    <tr><td>Erstellt von:</td><td>{{ object.created_by }}</td></tr>

{% endif %}
</table>
<a class="btn btn-sm btn-outline-primary" href="{{object.get_update_url}}">Edit</a>
<form action="{% url 'delete_reservation' pk=object.id %}" method="POST">
{% csrf_token %}
<input class="btn btn-sm btn-danger" type="submit" value="Delete">
</form>


{% endblock %}