{% extends "home.html" %}
{% load i18n %}

{% block test %}
    <div class="btn-group-vertical">
    {# Zeigt dem User seine Mail Adresse an und eine Option seine Nutzerdaten anzusehen und zu ändern. #}
        {% for object in userObject %}
            {% if object == user %}
            <a>User: {{ object }}</a>
        <a class="btn btn-outline-secondary" href="{{ object.get_update_url }}">{% trans 'Userdaten ansehen' %}</a>
            {% endif %}
{% endfor %}
        {# Zeigt dem User seine aktuelle (keine alten!) Reservierung an #}
        <h4>{% trans 'Ihre aktuelle Reservierung:' %}</h4>
        {% for object in reservation_data %}
            <a> {{ object.start_time }}</a>
            <a>Space: {{ object.room }}</a>
            <a>Block: {{ object.block }}</a>
            <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">{% trans 'Reservierung ansehen' %}</a>
            {% empty %}
            <a>{% trans 'Sie haben derzeit keine offenen Reservierungen.' %}</a>
        {% endfor %}
    {# Zeigt dem User seine aktuellen Kontaktanfragen an (über die Reservierungserstellung oder das Kontaktformular) an #}
<h4>{% trans 'Ihre aktuellen Kontaktanfragen:' %}</h4>
    <table class="table">
            <tr>
                <th>{% trans 'Betreff' %}</th>

            </tr>
    {% for object in contact_data %}
        <tr>
                <td>{{ object.subject }}</td>
                <td>{{ object.targetUser }}</td>
                <td><a href="{{ object.get_absolute_url }}">Anfrage ansehen</a></td>
        </tr>
        {% empty %}
        <tr>
        <td>{% trans 'Sie haben derzeit keine offenen Anfragen.' %}</td>
        </tr>
    {% endfor %}
    {% for object in leftoverRequestsFrom_data %}
            <tr>
                <td>{{ object.subject }}</td>
                <td>{{ object.targetUser }}</td>
                <td><a href="{{ object.get_absolute_url }}">Anfrage ansehen</a></td>
            </tr>
        {% empty %}
        <tr>
        <td>{% trans 'Sie haben derzeit keine offenen Anfragen.' %}</td>
        </tr>
    {% endfor %}
    {% for object in leftoverRequestsTo_data %}
        <tr>
                <td>{{ object.subject }}</td>
                <td>{{ object.targetUser }}</td>
                <td><a href="{{ object.get_absolute_url }}">Anfrage ansehen</a></td>
        </tr>
        {% empty %}
        <tr>
                <td>{% trans 'Sie haben derzeit keine offenen Anfragen.' %}</td>
        </tr>
    {% endfor %}
    </table>
    </div>

{% endblock %}