html,


.table {
    table-layout: fixed;
        /*width: 75%;*/
    text-align: center;
    align-items: center;
    border: 1px solid black;

    }

/*.th {*/
/*    min-width: 200px;*/
/*}*/

td:hover {
    background-color: darkgray;
}
td.a {
    border: 1px solid black;
    background-color: red;
    }

td.b {
    border: 1px solid black;
    background-color: greenyellow;
}

